<!-- app/views/memberships/_form.html.erb -->
<%= form_with(model: membership, local: true, html: { class: "row g-3", id: "membership-form" }) do |form| %>
  <% if membership.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(membership.errors.count, "error") %> prohibited this membership from being saved:</h2>
      <ul>
        <% membership.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Male Information -->
  <div class="col-md-6">
    <%= form.label :first_name, "Name (Male)", class: "form-label" %> *
    <%= form.text_field :first_name, class: "form-control", required: true %>
  </div>

  <div class="col-md-6">
    <%= form.label :email, "Email Address (Male)", class: "form-label" %> *
    <%= form.email_field :email, class: "form-control", required: true %>
  </div>

  <div class="col-md-6">
    <%= form.label :male_birth_date, "Date of Birth (Male)", class: "form-label" %> *
    <%= form.date_field :male_birth_date, class: "form-control", required: true %>
  </div>

  <div class="col-md-6">
    <%= form.label :phone, "Phone Number (Whatsapp) Male", class: "form-label" %> *
    <%= form.text_field :phone, class: "form-control", required: true %>
  </div>

  <div class="col-md-6">
    <%= form.label :male_place_of_birth, "Place of Birth (Male)", class: "form-label" %> *
    <%= form.text_field :male_place_of_birth, class: "form-control", required: true %>
  </div>

  <div class="col-md-6">
    <%= form.label :male_residential_address, "Residential Address (Male)", class: "form-label" %> *
    <%= form.text_field :male_residential_address, class: "form-control", required: true %>
  </div>

  <div class="col-md-6">
    <%= form.label :male_born_again, "Are You Born Again (Male)", class: "form-label" %> *
    <%= form.select :male_born_again, [['Yes', 'Yes'], ['No', 'No']], { prompt: 'Select an Option' }, class: "form-control", required: true %>
  </div>

  <div class="col-md-6">
    <%= form.label :male_born_again_date, "If Yes, when? (Male)", class: "form-label" %>
    <%= form.text_field :male_born_again_date, class: "form-control" %>
  </div>

  <div class="col-md-12">
    <%= form.label :male_born_again_reason, "If No, why? (Male). Type N/A if this does not apply.", class: "form-label" %> *
    <%= form.text_area :male_born_again_reason, class: "form-control", required: true %>
  </div>

  <div class="col-md-6">
    <%= form.label :male_passport_picture, "Passport Picture (Male)", class: "form-label" %> *
    <%= form.file_field :male_passport_picture, class: "form-control", required: true %>
  </div>

  <!-- Female Information -->
  <div class="col-md-6">
    <%= form.label :partner_first_name, "Name (Female)", class: "form-label" %> *
    <%= form.text_field :partner_first_name, class: "form-control", required: true %>
  </div>

  <div class="col-md-6">
    <%= form.label :partner_email, "Email Address (Female)", class: "form-label" %> *
    <%= form.email_field :partner_email, class: "form-control", required: true %>
  </div>

  <div class="col-md-6">
    <%= form.label :female_birth_date, "Date of Birth (Female)", class: "form-label" %> *
    <%= form.date_field :female_birth_date, class: "form-control", required: true %>
  </div>

  <div class="col-md-6">
    <%= form.label :partner_phone, "Phone Number (Whatsapp) Female", class: "form-label" %> *
    <%= form.text_field :partner_phone, class: "form-control", required: true %>
  </div>

  <div class="col-md-6">
    <%= form.label :female_place_of_birth, "Place of Birth (Female)", class: "form-label" %> *
    <%= form.text_field :female_place_of_birth, class: "form-control", required: true %>
  </div>

  <div class="col-md-6">
    <%= form.label :female_residential_address, "Residential Address (Female)", class: "form-label" %> *
    <%= form.text_field :female_residential_address, class: "form-control", required: true %>
  </div>

  <div class="col-md-6">
    <%= form.label :female_born_again, "Are You Born Again (Female)", class: "form-label" %> *
    <%= form.select :female_born_again, [['Yes', 'Yes'], ['No', 'No']], { prompt: 'Select an Option' }, class: "form-control", required: true %>
  </div>

  <div class="col-md-6">
    <%= form.label :female_born_again_date, "If Yes, when? (Female)", class: "form-label" %>
    <%= form.text_field :female_born_again_date, class: "form-control" %>
  </div>

  <div class="col-md-12">
    <%= form.label :female_born_again_reason, "If No, why? (Female). Type N/A if this does not apply.", class: "form-label" %> *
    <%= form.text_area :female_born_again_reason, class: "form-control", required: true %>
  </div>

  <div class="col-md-6">
    <%= form.label :female_passport_picture, "Passport Picture (Female)", class: "form-label" %> *
    <%= form.file_field :female_passport_picture, class: "form-control", required: true %>
  </div>

  <!-- Submit Button -->
  <div class="col-12">
    <% if current_user.admin? %>
      <%= form.submit "Submit", class: "btn btn-primary" %>
    <% else %>
      <%= form.submit "Make Payment and Submit", class: "btn btn-primary", id: "payment-submit" %>
    <% end %>
  </div>
<% end %>

<script>
  document.getElementById('payment-submit').addEventListener('click', function(event) {
    event.preventDefault(); // Prevent the form from submitting immediately
    document.getElementById('membership-form').submit(); // Submit the form
  });
</script>
