<%= form_with(model: booking, local: true) do |form| %>
    <% if booking.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
        <ul>
          <% booking.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="mb-3">
      <%= form.label :user_id, "User" %>
      <%= form.collection_select :user_id, User.all, :id, :email, { prompt: "Select a User" }, class: "form-control" %>
    </div>
  
    <div class="mb-3">
      <%= form.label :venue_id, "Venue" %>
      <%= form.collection_select :venue_id, @venues, :id, :name, { prompt: "Select a Venue" }, class: "form-control" %>
    </div>
  
    <div class="mb-3">
      <%= form.label :booking_date %>
      <%= form.date_field :booking_date, class: "form-control" %>
    </div>
  
    <div class="actions">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>
  