<!-- app/views/admin/users/_form.html.erb -->
<%= form_with(model: [:admin, @user], local: true) do |form| %>
  <div class="mb-3">
    <%= form.label :email, class: 'form-label' %>
    <%= form.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :password, class: 'form-label' %>
    <%= form.password_field :password, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :password_confirmation, class: 'form-label' %>
    <%= form.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :role, class: 'form-label' %>
    <%= form.select :role, User::ROLES.map { |role| [role.titleize, role] }, {}, class: 'form-select' %>
  </div>

  <div class="mb-3">
    <%= form.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
