<!-- app/views/admin/users/_form.html.erb -->
<%= form_with(model: [:admin, @user], local: true) do |form| %>
  <div class="mb-3">
    <%= form.label :email %>
    <%= form.email_field :email, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :password %>
    <%= form.password_field :password, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :role %>
    <%= form.select :role, User::ROLES.map { |role| [role.titleize, role] }, {}, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
